{% extends 'base.html.twig' %}

{% block body %}
    <h1>Flights list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Text</th>
            <th>Author</th>
            <th>Publication Date</th>
            <th>Note</th>
            <th>User rated</th>
        </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            <tr>
                <td>{{ review.id }}</td>
                <td>{{ review.text }}</td>
                <td><a href="{{ path('user_show', { 'id': review.reviewAuthor}) }}">{{ review.reviewAuthor }}</a></td>
                <td>{{ review.publicationDate }}</td>
                <td>{{ review.note }}</td>
                <td>{{ review.userRated }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}